<section class="pf-c-dropdown__group{{#if dropdown-group--modifier}} {{dropdown-group--modifier}}{{/if}}"
  {{#if dropdown-group--attribute}}
    {{{dropdown-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</section>
