#ws-core-c-listgroup-basic .pf-c-list-group__list-item:not(.pf-m-label),
#ws-core-c-listgroup-basic-group-stacked .pf-c-list-group__list-item:not(.pf-m-label),
#ws-core-c-listgroup-basic-label-as-list-item .pf-c-list-group__list-item:not(.pf-m-label),
#ws-core-c-listgroup-label-stacked-pf-c-column .pf-c-list-group__list-item:not(.pf-m-label),
#ws-core-c-listgroup-basic-column .pf-c-list-group__list-item:not(.pf-m-label),
#ws-core-c-listgroup-group-and-list-stacked .pf-c-list-group__list-item:not(.pf-m-label),
#ws-core-c-listgroup-nested-groups .pf-c-list-group__list-item:not(.pf-m-label),
#ws-core-c-listgroup-no-wrap-example .pf-c-list-group__list-item:not(.pf-m-label),
.pf-c-list-group__list-item:not(.pf-m-label) {
  /* padding: 2px 4px; */
  /* border: 1px dashed; */
  /* background: #ddd; */
}

/* .pf-c-list-group__list-item:not(.pf-m-label) {
  box-shadow: inset 0 0 1px 1px #ddd;
} */

.pf-c-list-group {
  /* box-shadow: inset 0 0 1px 1px red; */
}

.pf-c-list-group .pf-c-list-group {
  box-shadow: none;
}

/* .pf-c-list-group .pf-c-list-group {
  box-shadow: none;
} */

.pf-c-list-group__list {
  /* border: 1px solid #ddd; */
}

.pf-c-list-group__list-item {
  /* border: 1px solid #ddd; */
  /* background: #ddd; */
}

.pf-c-list-group .pf-c-list-group {
  /* border: 1px solid #ddd; */
}

/* .ws-lite-example {
  border: 1px solid red;
} */

html body .ws-lite-example {
  /* padding: 0; */
}