<div class="pf-c-list-group__main{{#if list-group-main--modifier}} {{list-group-main--modifier}}{{/if}}"
  {{#if list-group-main--attribute}}
    {{{list-group-main--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
