<div class="pf-c-list-group__actions{{#if list-group-actions--modifier}} {{list-group-actions--modifier}}{{/if}}"
  {{#if list-group-actions--attribute}}
    {{{list-group-actions--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>