<div class="pf-c-list-group{{#if list-group--modifier}} {{list-group--modifier}}{{/if}}"
  {{!-- {{#if list-group--id}}
    id="{{list-group--id}}"
  {{/if}} --}}
  {{#if list-group--attribute}}
    {{{list-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
