<div class="pf-c-list-group__list-container{{#if list-group-list-container--modifier}} {{list-group-list-container--modifier}}{{/if}}"
  {{#if list-group-list-container--attribute}}
    {{{list-group-list-container--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
