<div class="pf-c-list-group__head{{#if list-group-head--modifier}} {{list-group-head--modifier}}{{/if}}"
  {{#if list-group-head--attribute}}
    {{{list-group-head--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
