$pf-c-list-group--breakpoint-map: build-breakpoint-map("base", "md", "lg", "xl", "2xl");

.pf-c-list-group {
  --pf-c-list-group--RowGap: var(--pf-global--spacer--xs);
  --pf-c-list-group--ColumnGap: var(--pf-global--spacer--xs);
  --pf-c-list-group--GridGap: var(--pf-global--spacer--md);

  // Stacked
  --pf-c-list-group--m-stacked--RowGap: var(--pf-global--spacer--md);

  // List
  --pf-c-list-group__list--RowGap: var(--pf-global--spacer--xs);
  --pf-c-list-group__list--ColumnGap: var(--pf-global--spacer--xs);

  // Nested list group
  --pf-c-list-group--c-list-group--MarginTop: var(--pf-c-list-group--RowGap);
  --pf-c-list-group--c-list-group--MarginRight: var(--pf-c-list-group--ColumnGap);
  --pf-c-list-group--c-list-group--MarginBottom: var(--pf-c-list-group--RowGap);

  // Title
  --pf-c-list-group-list--title--MarginRight: var(--pf-global--spacer--md);

  // Label
  --pf-c-list-group__label--MarginTop: var(--pf-c-list-group--RowGap);
  --pf-c-list-group__label--MarginRight: var(--pf-global--spacer--md);
  --pf-c-list-group__label--MarginBottom: var(--pf-c-list-group--RowGap);
  --pf-c-list-group__label--PaddingLeft: var(--pf-global--spacer--xs);
  --pf-c-list-group--m-inline__label--MarginRight: var(--pf-global--spacer--md);

  // Pill
  --pf-c-list-group--m-toolbar--PaddingTop: var(--pf-global--spacer--xs);
  --pf-c-list-group--m-toolbar--PaddingRight: var(--pf-global--spacer--xs);
  --pf-c-list-group--m-toolbar--PaddingBottom: var(--pf-global--spacer--xs);
  --pf-c-list-group--m-toolbar--PaddingLeft: var(--pf-global--spacer--xs);
  --pf-c-list-group--m-toolbar--BackgroundColor: var(--pf-global--BackgroundColor--300);
  --pf-c-list-group--m-toolbar--BorderRadius: var(--pf-global--BorderRadius--sm);

  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;

  // reset list styles
  padding: 0;
  list-style-type: none;

  // remove for gap support
  .pf-c-list-group {
    margin-top: var(--pf-c-list-group--c-list-group--MarginTop);
    margin-right: var(--pf-c-list-group--c-list-group--MarginRight);
    margin-bottom: var(--pf-c-list-group--c-list-group--MarginTop);
  }
}

// Label
.pf-c-list-group__label {
  margin-top: var(--pf-c-list-group__label--MarginTop);
  margin-bottom: var(--pf-c-list-group__label--MarginTop);

  // line-height: 1;
}

.pf-c-list-group__description {
  margin-right: var(--pf-c-list-group--c-list-group--MarginRight);
}

.pf-c-list-group__label,
.pf-c-list-group__list-item.pf-m-label {
  grid-area: 1 / 1;
  margin-right: var(--pf-c-list-group__label--MarginRight);
  margin-left: var(--pf-c-list-group__label--MarginLeft);
}

.pf-c-list-group__label.pf-m-header {
  --pf-c-list-group__label--MarginRight: 0;

  flex: 1 0 100%;
}

.pf-c-list-group__list {
  grid-column-start: 1;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-top: calc((var(--pf-c-list-group__list--RowGap) / 2) * -1);
  margin-right: var(--pf-c-list-group__list--ColumnGap);
  margin-bottom: calc((var(--pf-c-list-group__list--RowGap) / 2) * -1);

  // if multiple lists in a list group
  &:last-child {
    margin-right: 0;
  }
}

.pf-c-list-group__list-item {
  margin-top: calc(var(--pf-c-list-group__list--RowGap) / 2);
  margin-right: var(--pf-c-list-group__list--ColumnGap);
  margin-bottom: calc(var(--pf-c-list-group__list--RowGap) / 2);

  &:last-child {
    --pf-c-list-group--ColumnGap: 0;
  }
}

.pf-c-list-group.pf-m-toolbar,
.pf-c-list-group__list.pf-m-toolbar {
  padding-right: var(--pf-c-list-group--m-toolbar--PaddingRight);
  padding-left: var(--pf-c-list-group--m-toolbar--PaddingLeft);
  background: var(--pf-c-list-group--m-toolbar--BackgroundColor);
  border-radius: var(--pf-c-list-group--m-toolbar--BorderRadius);
}

.pf-c-list-group.pf-m-toolbar {
  padding-top: var(--pf-c-list-group--m-toolbar--PaddingTop);
  padding-bottom: var(--pf-c-list-group--m-toolbar--PaddingBottom);
}

.pf-c-list-group__list.pf-m-toolbar {
  padding-top: calc(var(--pf-c-list-group__list--RowGap) / 2);
  padding-bottom: calc(var(--pf-c-list-group__list--RowGap) / 2);
}

// Toggle group modifiers
@each $breakpoint, $breakpoint-value in $pf-c-list-group--breakpoint-map {
  $breakpoint-name: if($breakpoint != "base", -on-#{$breakpoint}, "");

  @include pf-apply-breakpoint($breakpoint, $pf-c-list-group--breakpoint-map) {
    .pf-c-list-group.pf-m-stacked#{$breakpoint-name} {
      --pf-c-list-group--RowGap: var(--pf-c-list-group--m-stacked--RowGap);
      --pf-c-list-group__label--MarginTop: 0;
      --pf-c-list-group__label--MarginRight: 0;
      --pf-c-list-group__label--MarginBottom: 0;
      --pf-c-list-group__label--PaddingLeft: 0;
      --pf-c-list-group--c-list-group--MarginTop: 0;
      --pf-c-list-group--c-list-group--MarginRight: 0;
      --pf-c-list-group--c-list-group--MarginBottom: 0;

      display: grid;
      row-gap: var(--pf-c-list-group--m-stacked--RowGap);

      .pf-c-list-group__label {
        // --pf-c-list-group__list--RowGap: 0;
      }
    }

    .pf-c-list-group.pf-m-inline#{$breakpoint-name} {
      --pf-c-list-group--RowGap: var(--pf-c-list-group--m-stacked--RowGap);
      --pf-c-list-group__label--MarginTop: var(--pf-c-list-group--RowGap);
      --pf-c-list-group__label--MarginRight: var(--pf-c-list-group--m-inline__label--MarginRight);
      --pf-c-list-group__label--MarginBottom: var(--pf-c-list-group--RowGap);
      --pf-c-list-group__label--PaddingLeft: var(--pf-global--spacer--xs);
      --pf-c-list-group--c-list-group--MarginTop: var(--pf-c-list-group--RowGap);
      --pf-c-list-group--c-list-group--MarginRight: var(--pf-c-list-group--ColumnGap);
      --pf-c-list-group--c-list-group--MarginBottom: var(--pf-c-list-group--RowGap);

      display: inline-flex;
    }

    .pf-c-list-group__list.pf-m-row#{$breakpoint-name} {
      flex-direction: row;
    }

    .pf-c-list-group__list.pf-m-column#{$breakpoint-name} {
      flex-direction: column;
    }
  }
}

// .pf-c-list-group__list {

// }
