<div class="pf-c-description-list__label{{#if description-list-label--modifier}} {{description-list-label--modifier}}{{/if}}"
  {{#if description-list-label--attribute}}
    {{{description-list-label--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
