<div class="pf-c-page__header-profile{{#if page-header-profile--modifier}} {{page-header-profile--modifier}}{{/if}}"
  {{#if page-header-profile--attribute}}
    {{{page-header-profile--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
