$pf-l-grid--breakpoint-map: build-breakpoint-map();

// Grid base
.pf-l-grid {
  --pf-l-grid--m-gutter--GridGap: var(--pf-global--gutter);
  --pf-l-grid__item--GridColumnStart: auto;
  --pf-l-grid__item--GridColumnEnd: span 12;

  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  order: var(--pf-l-grid--Order);

  > *,
  .pf-l-grid__item {
    grid-column-start: var(--pf-l-grid__item--GridColumnStart);
    grid-column-end: var(--pf-l-grid__item--GridColumnEnd);
    order: var(--pf-l-grid--item--Order);
    min-width: 0;
    min-height: 0;
  }

  // stylelint-disable max-nesting-depth
  @each $breakpoint, $breakpoint-value in $pf-l-grid--breakpoint-map {
    $breakpoint-name: if($breakpoint != "base", -on-#{$breakpoint}, "");

    @include pf-apply-breakpoint($breakpoint, $pf-l-grid--breakpoint-map) {
      @for $col from 1 through 12 {
        &.pf-m-all-#{$col}-col#{$breakpoint-name} {
          > * {
            --pf-l-grid__item--GridColumnEnd: span #{$col};
          }
        }
      }

      @for $col from 1 through 12 {
        > .pf-m-#{$col}-col#{$breakpoint-name} {
          --pf-l-grid__item--GridColumnEnd: span #{$col};
        }
      }

      // generate column offset modfiers
      @for $col from 1 through 12 {
        > .pf-m-offset-#{$col}-col#{$breakpoint-name} {
          --pf-l-grid__item--GridColumnStart: col-start calc(#{$col} + 1);
        }
      }

      // generate row span modfiers
      @for $row from 1 through 12 {
        > .pf-m-#{$row}-row#{$breakpoint-name} {
          grid-row: span #{$row};
        }
      }
    }
  }
  // stylelint-enable

  &.pf-m-gutter {
    grid-gap: var(--pf-l-grid--m-gutter--GridGap);
  }
}

// Item
.pf-l-grid > * {
  order: var(--pf-l-grid--item--Order);

  // don't set base value for --pf-l-grid--item--Order as it defaults to 0
  @media screen and (min-width: $pf-global--breakpoint--sm) {
    order: var(--pf-l-grid--item--Order-on-sm, var(--pf-l-grid--item--Order));
  }

  @media screen and (min-width: $pf-global--breakpoint--md) {
    order: var(--pf-l-grid--item--Order-on-md, var(--pf-l-grid--item--Order-on-sm, var(--pf-l-grid--item--Order)));
  }

  @media screen and (min-width: $pf-global--breakpoint--lg) {
    order: var(--pf-l-grid--item--Order-on-lg, var(--pf-l-grid--item--Order-on-md, var(--pf-l-grid--item--Order-on-sm, var(--pf-l-grid--item--Order))));
  }

  @media screen and (min-width: $pf-global--breakpoint--xl) {
    order: var(--pf-l-grid--item--Order-on-xl, var(--pf-l-grid--item--Order-on-lg, var(--pf-l-grid--item--Order-on-md, var(--pf-l-grid--item--Order-on-sm, var(--pf-l-grid--item--Order)))));
  }

  @media screen and (min-width: $pf-global--breakpoint--2xl) {
    order: var(--pf-l-grid--item--Order-on-2xl, var(--pf-l-grid--item--Order-on-xl, var(--pf-l-grid--item--Order-on-lg, var(--pf-l-grid--item--Order-on-md, var(--pf-l-grid--item--Order-on-sm, var(--pf-l-grid--item--Order))))));
  }

  &:last-child {
    --pf-l-flex--spacer: 0;
  }
}
